body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.tableHeader {
  background-color: #eff0f6;
  color: #767676;
}
.tableCell:hover {
  background-color: #f2f6ff !important;
}
.tableCell {
  max-height: none !important;
  height: 60px !important;
  display: flex;
  align-items: flex-end;
}
.cell {
  padding: 0.5rem !important;
}
.footer {
  display: none !important;
}

.checked .Mui-checked svg {
  color: #2f49d1 !important;
}

.headCheckBox .Mui-checked svg {
  color: #2f49d1 !important;
}
